<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../public/css/main.css?v=737a6504e6">
    <title>大家</title>
</head>
<body>
    <div class="loading ">
        <div class="loading-text-wrap">
            <div class="text">建议在WiFi下观看,正在加载中...</div>
            <div class="percent">0%</div>
        </div>
        <div class="cloud">
            <!-- yun -->
        </div>
        <div class="cp">出品:mishi公司出品</div>
    </div>
    <li class="item-wrap hide">
        <ul>
            <li class="cover">
                <div class="cover-text"></div>
                <div class="cover-yun-1"></div>
                <div class="cover-yun-2"></div>
                <div class="cover-yun-3"></div>
                <div class="cover-yun-4"></div>
            </li>
            <li class="choose">
                <p class="choose-text">你成了"《大家》国"的一名考生,你必须通过考试来获得你的功名!穿越了,给你一次重新做人的机会:</p>
                <div class="btn">
                    <div class="btn-boy ac_sex"></div>
                    <div class="btn-girl ac_sex"></div>
                </div>
            </li>
            <li class="main">
                <!-- <div class="floor"></div> -->
                <div class="share-btn"></div>
                <div name='zhi' class="hua "></div>
                <div class="person"></div>                
                <div class="desk"></div>
                <div class="leaf1"></div>
                <div class="leaf2"></div>
                <div class="leaf3"></div>
                <div class="level">太监</div>
                <div name='rui' class="bi "></div>
                <div name='zhong' class="bian "></div>
                <div name='xing' class="cat "></div>
                <div name='wen' class="zhi "></div>
                <div class="zouzhang hide">点击查看</div>
                <div class="btns">
                    <div name='zhong' class="btn ac_choose"></div>
                    <div name='zhi' class="btn ac_choose"></div>
                    <div name='wen' class="btn ac_choose"></div>
                    <div name='xing' class="btn ac_choose"></div>
                    <div name='rui' class="btn ac_choose"></div>
                    <div name='renwu' class="upperson ac_choose"></div>
                </div>
                <div class="allopen hide"></div>
            </li>
            <li class="answer">
                <div class="answer-box">
                    <div class="title">关于黄圣依和杨子的感情,以下哪种观点没有在《大家》提起过?</div>
                    <div class="result-opitions">
                        <div class="opt">
                            A:选项A
                        </div>
                        <div class="opt">
                            B:选项B
                        </div>
                        <div class="opt">
                            C:选项C
                        </div>
                    </div> 
                    <div class="num-count">
                        <span class="thisNum">1</span>/<span class="allNum">3</span>
                    </div>
                </div>
                <div class="result-box result-right hide">
                    <div class="result-wp">
                        <div class="title">解锁成功</div>
                        <div class="result-flag">
                        </div>
                        <div class="result-text">获得<span></span></div>
                    </div>
                </div>
                <div class="result-box result-wrong hide">
                    <div class="result-wp">
                        <div class="title">解锁失败</div>
                        <div class="result-text">你与道具擦肩而过,再试一次吧</div>
                    </div>
                </div>
                <div class="result-renwu-box hide">
                    <div class="title">答对<span></span>题</div>
                    <div class="result-text">恭喜你,人物形象升级为</div>
                    <div class="result-flag"></div>
                </div>
            </li>
            <li class="memorial memorial1">
                <div class="close"></div>
                <div class="page"></div>
                <div class="bottom"></div>
            </li>
            <li class="memorial memorial2">
                <div class="close"></div>
                <div class="page"></div>
                <div class="bottom"></div>
            </li>
            <li class="memorial memorial3">
                <div class="close"></div>
                <div class="page"></div>
                <div class="bottom"></div>
            </li>
            <li class="memorial memorial4">
                <div class="close"></div>
                <div class="bottom"></div>
            </li>
        </ul>
    </li>
<script src="../public/js/index.js?v=4d7d15ffc3"></script>
</body>
</html>
